<div class="row">
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Connexion</h5>

        <form action='Lib/loginUser.php' method='POST'>
            <label>Pseudo <input type='text' name='username' required></label></br>
            <label>Mot de passe <input type='password' name='psw' required></label></br>
            </br>
            <input type="submit" name="Valider" value="Se connecter" class="btn btn-primary">
        </form>

      </div>
    </div>
  </div>
  <div class="col-sm-6">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">Inscription</h5>
        
        <form action="#" method="POST"
            <label>Pseudo <input type='text' name='username' required></label></br>
            <label>Mot de passe <input type='password' name='psw' required></label></br>
            <!--<label>Répéter le mot de passe <input type='password' name='psw' required></label>-->
            </br>
            <input type="submit" name="Valider" value="S'inscrire" class="btn btn-primary">
        </form>
            
      </div>
    </div>
  </div>
</div>